@font-face {
  font-family: "SoulFood";
  src: url("fs_lust_script-webfont.woff2") format("woff2"),
    url("fs_lust_script-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
